<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PageUI</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div id="mainWrapper">

        <div id="leftWrapper">
            <div id="logoWrapper">
                <img src="img/memory_ionc_modiddddddd.png" alt="Icon">
            </div>
            <div id="settingBar">
                <div class="topSettingIcon" id="settingHideB">
                    <img src="img/pencil_icon.png" alt="Theme Setting">
                </div>
                <div id="settingContent"></div>
            </div>
            <div class="settingIcon" id="settingShowB">
                <img src="img/pencil_icon.png" alt="Theme Setting">
            </div>

        </div>

        <div id="pageWrapper">
            <div id="page">
                <div class="paper">
                    <div class="paper-head">
                        <input type="text" name="title" placeholder="Title" value="">
                        <div id="dateWrapper">
                            <p id="dateP">Saturday, 10th October 2020</p>
                            <!-- <p id="dateP">10th October 2020</p> -->
                            <!-- <p id="timeP">Tuesday 9pm</p> -->
                        </div>
                        <!-- <select name="visibility">
                            <option value="private" {% if data.visibility == "private" %}selected="selected" {% endif %}>
                                Private
                            </option>
                            <option value="public" {% if data.visibility == "public" %}selected="selected" {% endif %}>
                                Public
                            </option>
                            <option value="followers" {% if data.visibility == "followers" %}selected="selected" {% endif %}>
                                Followers
                            </option>
                        </select> -->
                    </div>
                    <div class="paper-body">
                        <div class='lining'>
                            <div class='paper-content'>
                                <textarea id="writing_area" cols="10" name="body" placeholder="Start Writing..." class='boxsizingBorder'></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="paper-footer">
                        <input type="file" name="photo">
                        <button type="submit">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="rightWrapper">
            <button class="stitched">Click Me</button><br>
            <button class="stitched2">Click Me</button>
            <div id="textD" contenteditable="true">I am Shivam Agrawal</div>
        </div>

    </div>



    <script>
        $(document).ready(function() {

            function print(msg) {
                console.log(msg);
            }

            $("#settingBar").slideUp(0);

            $("#settingHideB").click(function() {
                $("#settingBar").slideUp(1200);
                setTimeout(
                    function() {
                        $("#settingShowB").show();
                    }, 970);
            })

            $("#settingShowB").click(function() {
                $("#settingBar").slideDown(1200, function(eve) {});
                setTimeout(
                    function() {
                        $("#settingShowB").hide();
                    }, 200);

            })

            $.fn.selectRange = function(start, end) {
                var e = document.getElementById($(this).attr('id')); // I don't know why... but $(this) don't want to work today :-/
                if (!e) return;
                else if (e.setSelectionRange) {
                    e.focus();
                    e.setSelectionRange(start, end);
                } /* WebKit */
                else if (e.createTextRange) {
                    var range = e.createTextRange();
                    range.collapse(true);
                    range.moveEnd('character', end);
                    range.moveStart('character', start);
                    range.select();
                } /* IE */
                else if (e.selectionStart) {
                    e.selectionStart = start;
                    e.selectionEnd = end;
                }
            };

            $("#writing_area").keydown(function(eve) {
                if (eve.keyCode == 8 || eve.keyCode == 46) {
                    var cursorPos = $(this).prop('selectionStart');
                    //alert('backspace trapped at ' + cursorPos);

                    let text = $(this).val();
                    let si = text.lastIndexOf(" ") + 1;
                    let cword = text.slice(si, cursorPos);
                    $(this).selectRange(si, cursorPos);
                    document.execCommand('bold');
                    print("Word: " + cword);


                    return false; //disable its working
                }
            });


            $(".stitched").click(function() {
                print("Making bold");
                document.execCommand('bold');
                $("#writing_area").val("<strike>Hello</strike> World");
            });

            //$(".settingB").click(function () {
            //  $("#settingBar").slideToggle(function (eve) {
            //alert("opened");
            //});

            //if (settingBarShown) {
            //    settingBarShown = false;
            //    $("#settingBar").animate({
            //        left: '0',
            //        bottom: '0',
            //        opacity: '1'
            //    });
            //} else {
            //    settingBarShown = true;
            //    $("#settingBar").animate({
            //        left: '-300px',
            //        bottom: '-300px',
            //        opacity: '0'
            //    });
            //}
        });
    </script>
</body>

</html>