<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PageUI</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div id="mainWrapper">

        <div id="leftWrapper">
            <div id="logoWrapper">
                <img src="img/memory_ionc_modiddddddd.png" alt="Icon">
            </div>
            <div id="settingBar">
                <div class="topSettingIcon" id="settingHideB">
                    <img src="img/pencil_icon.png" alt="Theme Setting">
                </div>
                <div id="settingContent"></div>
            </div>
            <div class="settingIcon" id="settingShowB">
                <img src="img/pencil_icon.png" alt="Theme Setting">
            </div>

        </div>

        <div id="pageWrapper">
            <div id="page">
                <div class="paper">
                    <div class="paper-head">
                        <input type="text" name="title" placeholder="Title" value="">
                        <div id="dateWrapper">
                            <p id="dateP">Saturday, 10th October 2020</p>
                            <!-- <p id="dateP">10th October 2020</p> -->
                            <!-- <p id="timeP">Tuesday 9pm</p> -->
                        </div>
                        <!-- <select name="visibility">
                            <option value="private" {% if data.visibility == "private" %}selected="selected" {% endif %}>
                                Private
                            </option>
                            <option value="public" {% if data.visibility == "public" %}selected="selected" {% endif %}>
                                Public
                            </option>
                            <option value="followers" {% if data.visibility == "followers" %}selected="selected" {% endif %}>
                                Followers
                            </option>
                        </select> -->
                    </div>
                    <div class="paper-body">
                        <div class='lining'>
                            <div class='paper-content'>
                                <div id="writing_area" cols="10" name="body" placeholder="Start Writing..."
                                    class='boxsizingBorder' contenteditable="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paper-footer">
                        <input type="file" name="photo">
                        <button type="submit">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="rightWrapper">
            <button class="stitched">Click Me</button><br>
            <button class="stitched2">Click Me</button>
            <div id="textD" contenteditable="true">I am Shivam Agrawal</div>
        </div>

    </div>



    <script>
        $(document).ready(function () {

            function print(msg) {
                console.log(msg);
            }

            $("#settingBar").slideUp(0);

            $("#settingHideB").click(function () {
                $("#settingBar").slideUp(1200);
                setTimeout(
                    function () {
                        $("#settingShowB").show();
                    }, 970);
            });

            $("#settingShowB").click(function () {
                $("#settingBar").slideDown(1200, function (eve) { });
                setTimeout(
                    function () {
                        $("#settingShowB").hide();
                    }, 200);

            });

            $.fn.selectRange = function (start, end) {
                var e = document.getElementById($(this).attr('id')); // I don't know why... but $(this) don't want to work today :-/
                if (!e) return;
                else if (e.setSelectionRange) {
                    e.focus();
                    e.setSelectionRange(start, end);
                } /* WebKit */
                else if (e.createTextRange) {
                    var range = e.createTextRange();
                    range.collapse(true);
                    range.moveEnd('character', end);
                    range.moveStart('character', start);
                    range.select();
                } /* IE */
                else if (e.selectionStart) {
                    e.selectionStart = start;
                    e.selectionEnd = end;
                }
            };

            jQuery.fn.selectText = function (start, end) {

                var doc = document;
                var element = this[0];
                console.log(this, element);
                if (doc.body.createTextRange) {
                    print("Create text range");
                    var range = document.body.createTextRange();
                    //range.moveToElementText(element);
                    range.collapse(true);
                    range.moveEnd('character', end);
                    range.moveStart('character', start);
                    range.select();
                } else if (window.getSelection) {
                    print("window select");
                    var selection = window.getSelection();
                    var range = document.createRange();
                    range.setStart(element, start);
                    range.setEnd(element, end);
                    //range.selectNodeContents(element);
                    selection.removeAllRanges();
                    selection.addRange(range);
                }
            };

            function getCaretPosition() {
                if (window.getSelection && window.getSelection().getRangeAt) {
                    var range = window.getSelection().getRangeAt(0);
                    var selectedObj = window.getSelection();
                    var rangeCount = 0;
                    var childNodes = selectedObj.anchorNode.parentNode.childNodes;
                    for (var i = 0; i < childNodes.length; i++) {
                        if (childNodes[i] == selectedObj.anchorNode) {
                            break;
                        }
                        if (childNodes[i].outerHTML)
                            rangeCount += childNodes[i].outerHTML.length;
                        else if (childNodes[i].nodeType == 3) {
                            rangeCount += childNodes[i].textContent.length;
                        }
                    }
                    return range.startOffset + rangeCount;
                }
                return -1;
            }

            function positionCursor(tag, pos) {

                //var tag = document.getElementById("editable");

                // Creates range object 
                var setpos = document.createRange();

                // Creates object for selection 
                var set = window.getSelection();

                // Set start position of range 
                //setpos.setStart(tag.childNodes[0], 12);
                setpos.setStart(tag.childNodes[0], pos);

                // Collapse range within its boundary points 
                // Returns boolean 
                setpos.collapse(true);

                // Remove all ranges set 
                set.removeAllRanges();

                // Add range with respect to range object. 
                set.addRange(setpos);

                // Set cursor on focus 
                tag.focus();
            }

            $("#writing_area").keydown(function (eve) {
                if (eve.keyCode == 8 || eve.keyCode == 46) {
                    //var cp = $(this).prop('selectionStart');
                    var cp = getCaretPosition($(this));
                    let text = $(this).text();
                    let char_ap_pp = text.slice(cp - 1, cp);
                    print("CP: " + cp);
                    print("PP is: " + char_ap_pp);

                    let new_text = text.slice(0, cp - 1) + text.slice(cp - 1, text.length).strike() + " ";
                    $(this).html(new_text);

                    positionCursor(document.getElementById("writing_area"), cp - 1);
                    //alert('backspace trapped at ' + cursorPos);

                    //let text = $(this).text();
                    //let si = text.lastIndexOf(" ") + 1;
                    //let cword = text.slice(si, cursorPos);
                    //$(this).selectRange(si, cursorPos);
                    //$(this).selectText(si, cursorPos);
                    //document.execCommand('bold');
                    //print("Word: " + cword);


                    print("returning false");
                    return false; //disable its working
                }
            });


            $(".stitched").click(function () {
                print("Making bold");
                document.execCommand('bold');
                $("#writing_area").html("Hello World".strike() + " a");
            });
        });
    </script>
</body>

</html>