//https://material.io/design/color/#color-theme-creation
$primaryColor: #6200ee;
$primaryVariantColor: #3700b3;
$secondryColor: #03dac6;
$secondryVarientColor: #018786;
$onPrimaryColor: #ffffff;
$onSecondryColor: #000000;
$backgroundColor: #e2e1e1;
$surfaceColor: #ffffff;
$errorColor: #b00020;

$transparentColor: #00000000;

$pageSideGap: 25%;
$pageVertiGap: 5px;

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  //background-color: $backgroundColor;
  background-image: url("img/wood/wood2.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

#mainWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#pageWrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $transparentColor;
}

#leftWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  #logoWrapper {
    width: 50%;
    height: 100px;
    background: $primaryColor;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #settingBar {
    width: 80%;
    height: 80%;
    background-color: $surfaceColor;
    position: absolute;
    bottom: $pageVertiGap;
    left: $pageVertiGap;
  }
  #settingIcon {
    width: 40%;
    height: 20%;
    background-color: $primaryVariantColor;
    position: absolute;
    bottom: $pageVertiGap;
    left: $pageVertiGap;
  }
}

#rightWrapper {
  width: 100%;
  height: 100%;
}

#page {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: $pageVertiGap;
  margin-bottom: $pageVertiGap;
  margin-right: $pageSideGap;
  margin-left: $pageSideGap;
  background-color: $surfaceColor;
}

.uc-initial-content {
  width: 50px;
  height: 40px;
  background-color: $surfaceColor;
}

.uc-final-content {
  background-color: $primaryVariantColor;
}
