//https://material.io/design/color/#color-theme-creation
$primaryColor: #6200ee;
$primaryVariantColor: #3700b3;
$secondryColor: #03dac6;
$secondryVarientColor: #018786;
$onPrimaryColor: #ffffff;
$onSecondryColor: #000000;
$backgroundColor: #e2e1e1;
$surfaceColor: #ffffff;
$errorColor: #b00020;
$transparentColor: #00000000;
$pageSideGap: 25%;
$pageVertiGap: 5px;
* {
    padding: 0px;
    margin: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    //background-color: $backgroundColor;
    background-image: url("img/wood/wood2.jpg");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

#mainWrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#pageWrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: $transparentColor;
}

#leftWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    #logoWrapper {
        width: 75%;
        height: 100px;
        //background: $primaryColor;
        position: absolute;
        top: 10px;
        left: 10px;
        img {
            max-width: 100%;
            //max-height: 100%;
        }
    }
    #settingBar {
        width: 80%;
        height: 80%;
        //background-color: $surfaceColor;
        position: absolute;
        bottom: $pageVertiGap;
        left: $pageVertiGap;
        overflow: hidden;
        .topSettingIcon {
            width: 100%;
            height: 50px;
            //background-color: $primaryColor;
            //margin-top: -50px;
            overflow: hidden;
            img {
                max-width: 100%;
                //max-height: 100%;
            }
        }
        #settingContent {
            width: 100%;
            height: 100%;
            background-color: $surfaceColor;
        }
    }
    .settingIcon {
        width: 80%;
        height: 50px;
        position: absolute;
        bottom: $pageVertiGap;
        left: $pageVertiGap;
        padding: 0;
        //background-color: $primaryColor;
        color: white;
        text-align: center;
        overflow: hidden;
        img {
            max-width: 100%;
            //max-height: 100%;
        }
    }
}

#rightWrapper {
    width: 100%;
    height: 100%;
}

#page {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: $pageVertiGap;
    margin-bottom: $pageVertiGap;
    margin-right: $pageSideGap;
    margin-left: $pageSideGap;
    background-color: $surfaceColor;
}

.stitched {
    padding: 20px;
    margin: 10px;
    background: #691f01;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #691f01, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
}

.stitched2 {
    padding: 7px 20px;
    margin: 10px;
    background: #691f01;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    border: 2px dashed #d3d3d3;
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-box-shadow: 0 0 0 4px #f8f8ff, 2px 1px 4px 4px rgba(10, 10, 0, 0.5);
    -webkit-box-shadow: 0 0 0 4px #f8f8ff, 2px 1px 4px 4px rgba(10, 10, 0, 0.5);
    box-shadow: 0 0 0 4px #691f01, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    //text-shadow: 1px 1px 2px #f8f8ff;
    font-weight: normal;
    float: left;
}